{% extends "coc_war_stats/base_layout.html" %}           

{% block content %} 
    <ul>
    {% for a_clan in the_clans %}
        <li>
            <p> 
                <a href="/clan/{{ a_clan.id }}/info/"> {{ a_clan.clan_name }} </a>
            </p>
        </li>
    {% endfor %}
    </ul>
{% endblock %} 
