{% extends "coc_war_stats/base_layout.html" %}

{% block content %}

<h1> {{ object.clan_name }} </h1>

<h2> War Statistics </h2>
TODO: Simple war stats. 

<h2> Who Hasn't Participated </h2>
Members who have not participated in at least one consecutive war.  


<h2> Members </h2>
<ol>
{% for member in members %}
    <li> {{ member.member_name }} </li>
{% endfor %}
</ol>


{% endblock %}
